.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.edit-container h2 {
    color: #056844;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form label {
    padding: 30px;
}

.edit-form button {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    background-color: #00bc77;
    color: #fff;
    border: none;
    cursor: pointer;
}

.edit-form input {
    padding: 10px;
    margin: 10px;
}